*{
    padding: 0px;
    margin: 0px;
    font-family: "Inter", sans-serif;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container{
    height: 767px;
    width: 390px;
    background-color: #151515;
    border-radius: 40px;
    box-sizing: border-box;
}

.display{
    height: 234px;
    display: flex;
    color: white;
    flex-direction: column;
}
#operations{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    padding: 20px 19px 0 19px;
}
.inputDisplay{
    text-align: right;
    padding-top: 20px;
    opacity: 0.7;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none;
    font-size: 24px;
    max-width: 100%;
}
.outputDisplay{
    text-align: right;
    font-size: 42px;
}

#displayFooter{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 20px 19px 0px 19px;
}
.leftSide{
    display: flex;
    gap: 25px;
}
.history, .ruler, .squareRoot, .backspaceBtn{
    height: 24px;
    width: 24px;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    transition: background 0.2s ease;
}
.history:hover,
.ruler:hover,
.backspaceBtn:hover,
.squareRoot:hover{
    background: rgba(255, 255, 255, 0.30);
    backdrop-filter: blur(8px);
    height: 24px;
    width: 24px;
    cursor: pointer;
}
.line{
    width: 352px;
    height: 1px;
    background-color: #4e4d4d;
    
    margin: 20px 19px 25px 19px;
}
.buttons{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    padding-left: 19px;
    padding-right: 19px;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    width: 73px;
    border-radius: 9px;
    background-color: #343434;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.button:hover{
    transform: scale(1.05) translateY(-3px);
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
.button:active{
    transform: scale(0.95) translateY(0);
}

.clearBtn{
    background-color: #FF5959;
    color: #343434;
    font-size: 36px;
    font-weight: 400;
    line-height: auto;
}
.equalBtn{
    background-color: #66FF7F;
     color: #343434;
    font-size: 36px;
    font-weight: 400;
    line-height: auto;
}
.operator{
    font-size: 24px;
    line-height: auto;
    color: #66FF7F;
    font-weight: 400;
}

.digits, .plus-minus, .decimal{
    font-size: 36px;
    line-height: auto;
    font-weight: 400;
    color: #FFFFFF;
}