*{
    padding: 0px;
    margin: 0px;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container{
    height: 767px;
    width: 390px;
    background-color: #151515;
    border-radius: 40px;
    box-sizing: border-box;
}

.display{
    height: 234px;
}
.line{
    width: 352px;
    height: 1px;
    background-color: #4e4d4d;
    
    margin: 20px 19px 25px 19px;
}
.buttons{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    padding-left: 19px;
    padding-right: 19px;
}
.button{
    height: 75px;
    width: 73px;
    border-radius: 9px;
    background-color: #343434;
}

.clearBtn{
    background-color: #FF5959;
}
.equalBtn{
    background-color: #66FF7F;
}